
body {
    font-family: Arial, sans-serif;
    background-color:#222121;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
  }
  
  table {
    width: 33%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: white
  }

  .vi {
    background-color: #271550;
    color: #fff;
    font-weight: bold;
  }
  
  td {
    padding: 10px;
    text-align: center;
    border: 1px solid #333131;
  }
  
  input[type="number"] {
    width: 35px;
  }
  
  button {
    background-color: #271550;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  #total {
    font-weight: bold;
  }
  